.first
{
    width: 200px;
    height: 200px;
    background-color: red;
}
.second
{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left:  200px;
}
.third
{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left:  400px;
}